* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: sans-serif;
}
